
/* 
        MAIN
*/
.navbar .nav-link {
    color: #fff;   
}
.navbar .navbar-brand {
    color: #fff;
}
.navbar.active {
    /* background: rgb(255, 0, 0); */
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.nav-link:hover{
    color: rgb(167, 167, 167);  
} 
/* 
        REPONSIVE
*/
@media (max-width: 1000px) {
    .navbar-nav{
        margin: 10px;
        font-size: 1em;
        vertical-align: top;
        flex-direction: row;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .nav-item{
            margin: 1%;
        }
      
        .navbar-brand{
            display: none;
        }
}
/* 
        FONT BODY
*/
body {
    min-height: 100vh;
    background-color: #4ca1af;
    background-image: linear-gradient(140deg, #164cc2 0%, #ffffff 100%);
}
/* 
    FOOTER
*/
.footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  .footer-clean ul a:hover {
    opacity:1;
  }
  .footer-clean .item.social {
    text-align:right;
  }
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  @media (max-width:1200px) {
    .calendar{
      display: none;
    }
  }
  @media (max-width:767px) {
    .picture-left{
      display: none;
    }
    .calendar{
      display: none;
    }
    .bingbing{
        text-align: center;
    }
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  .h:hover, .s:hover{
    color: rgb(167, 167, 167);  
    margin: 0.3em;
    padding: 0.3em;
}
.h, .s{
    padding: 3px;
    margin: 3px;
}
  /* 
        CONTACT
  */
  #contatti{
    letter-spacing: 2px;
    }
  #contatti a{
    text-decoration: none;
  }

  #author a{
    color: #fff;
    text-decoration: none;
      
  }


/* 
    map
*/
#maCarte{
    height: 100%;
    background-color: black;
}
.l{
  color: black;
}
.trait_dessus{
  border-top: 1px rgb(255, 255, 255);
  width : 100%; 
}
/* 
    Calendrier
*/
.calendar{
  size: 10rem;
  margin: 0 auto;
  width: 80%; 
  text-align: center;
  background-color: white;
  /* display: inline-block; */
  border-radius: 50% 20% / 10% 40%;
  border-radius: 30px;  
}

.day {
  
  list-style: none; /* enlever les puces */
  margin: 0%; /* enlever les marges automatiques */
  display: table-cell; /* affichage en ligne */
}
.hour{
  text-align: center;
  border: 1px solid #c9c9c9;
  background-color: #4a9e1a;

}
.hour, .hours{
  margin: 0%; /* enlever les marges automatiques */
  /* padding: 16px; */
  height: 3em;
  width: 4rem;
  
  
}


.dispo{
  text-align: center;
}
.titreI{
  color: white;
  padding: 1em;

}
.logo{
  display: block;
}
.divLogo:hover{
  filter: brightness(130%);
}
.imgIndex{
   /* Fixe l'image en haut à gauche de la page */
 position: fixed; 
 top: 0; 
 left: 0; 
 /* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 100%;
}
.picture-left{
    float: left;
}
.textT{
  color:white;
}
.textT:hover{
  color:rgb(218, 218, 218);
}
.hour:active{
  background-color: white;
  color: white;
}


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */

}

.myModalOk, .myModalPasOk{
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  top: 30px;
  background-color: rgb(255, 255, 255);
  margin:20px;
  border-radius: 15px;
  display: none;
}