.calendar{
        size: 30rem;
    margin: 0 auto;
    width: 60em; 
    
  }
  .day {
    
    list-style: none; /* enlever les puces */
    margin: 0; /* enlever les marges automatiques */
    display: table-cell; /* affichage en ligne */
  }
